/*****************************/
/*       embed.scss          */
/* Styles for embeds         */
/*****************************/


$font-size : 1em;
$font-family-container: "Lucida Sans Unicode","Lucida Grande", Arial, Helvetica, Garuda, sans-serif;
$embed_extras-h: 50px;

html  {
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    background-color: #fff;
    text-align: center;
    height: 100%;
}

#chart {
        width: 100%;
        height: 100%;
        padding: 0;
        overflow:hidden;
 }

 #embed_extras {
    height: $embed_extras-h;
    text-align:left;
    width: 100%;
    font-family: $font-family-container;
    font-size: $font-size - .3;
    color: #000;
    padding: 0 5px;

    p {
        margin: 0 5px;
    }

    #export_csv {
        font-size: $font-size * .8;
        float:right;
        margin: 0 10px;
    }

    #promo_embed{
        font-size: $font-size * .8;
        float:left;
        margin: 0 10px;

        a {
            font-size: $font-size;
            text-decoration:underline;
            &:hover {
                text-decoration:none;
            }
        }
    }

    .desc {
        font-weight:bold;
    }

    #source {
        font-style: italic;
    }

    .source_url {
        color: #000;
        &:hover  { text-decoration:underline; }
    }
}
